
<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>
<!-- 
       Et ceci est le fichier qui contient les éléments en-pied qui sont présents dans toutes les pages de l'application
    -->