<div class="accueil container">
<h1 class="center-align">Université de Béjaia</h1>
    <h2>Projet Fin de Cycle Pour l'Année 2019-2020</h2>
    <p>Nous présentons une application d'une messagerie instantannée.</p>
        <div class="row center-align">
            <div class="col s12 m12 l3 xl3">
                <a href="" class="btn-large">Se Connecter</a>
            </div>
            <div class="col s12 m12 l6 xl6">
                <p id="or" class="center-align">OU</p> 
            </div>
            <div class="col s12 m12 l3 xl3">
                <a href="" class="btn-large">S'Inscrire</a>
            </div>
        </div>
        <p>Conceptée et réalisée par: BENAKCHA Mebarek Raid. GROUPE C2.</p>
        <p>Enseignante du module: Mme BACHIRI Lina</p>
    </div>